<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/formularioEnvio}" th:object="${curso}" method="post">

    <p> curso: <input type="text" th:field="*{id}" /></p>
    <p>id curso: <input type="text" th:field="*{curso}" /></p>
    <p>Tema curso: <input type="text" th:field="*{tema}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>
