<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>testing App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
<div class="container">
    <h2>curso_spring_boot</h2>

    <form>
        <div class="form-group">
            <div class="col-xs-2">
                <label for="ex1">curso</label>
                <input class="form-control" id="curso1" type="text">
            </div>
            <br>
            <div class="col-xs-2">
                <label for="ex1">tema</label>
                <input class="form-control" id="tema1" type="text">
            </div>


        </div>
        <button type="button" onclick="myFunction();" class="btn btn-primary">Submit</button>
    </form>
</div>

<center>
<form  method="get">

    <table ng-app="myApp" ng-controller="customersCtrl" border="1">
        <tr> <td><p>curso<p></td>
            <td><p>tema</p></td></tr>
        <tr ng-repeat="x in myData">
            <td>{{x.curso}}</td>
            <td>{{x.tema}}</td>
        </tr>
    </table>


    <button type="button"  class="btn btn-primary">Submit</button>
</form>
    </center>

<script  src="/js/main.js" type="text/javascript">


</script>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
